body { 
    font-family: Arial, sans-serif; 
    background-color: floralwhite; 
    color: black; 
    padding: 2em; 
}

h1, h2 { 
    color: darkblue; 
}

p { 
    text-align: justify; 
    line-height: 1.6; 
    color: midnightblue; 
}

.my-picture, .course-picture { 
    display: block;
    max-width: 500px;
    height: auto;
    margin: 15px 0;
}

.my-picture { 
    float: left; 
    margin-right: 15px; 
    border: 5px solid darkblue;
    border-radius: 5px;
}

.course-picture { 
    float: right; 
    margin-left: 15px; 
    border: 5px solid darkblue;
    border-radius: 5px;
}
