body {
    font-family: 'Arial', sans-serif;
    color: black;
    padding: 2em;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background: rgba(255,255,255,0.6);
    background: url('iit.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    margin: 2em 0;
    position: relative;
}

h1, h2 {
    color: darkblue;
    font-weight: bold;
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

p {
    text-align: justify;
    line-height: 1.6;
}

.content {
    padding: 0 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 1em;
}
