/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

/* Centered Container */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background-color: #f7f7f7; /* Slightly off-white */
    border: 2px solid #6c6c6c; /* Dark gray border */
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Form */
form {
    text-align: left;
    width: 100%;
}

/* Form Group */
.form-group {
    margin-bottom: 15px; /* Increased spacing */
    width: 100%;
}

/* Label */
label {
    display: block;
    width: 100%;
    text-align: left; /* Left-aligned text */
    color: #333; /* Dark gray text color */
}

/* Input */
input {
    width: 100%;
    padding: 10px; /* Increased padding */
    border: 2px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Increased font size */
    color: #333; /* Dark gray text color */
}

/* H1 (Heading) */
h1 {
    background-color: #333;
    color: #fff;
    padding: 15px 20px; /* Increased padding */
    margin: -20px -20px 20px -20px;
    border-radius: 10px 10px 0 0; /* More rounded corners */
    font-size: 32px; /* Larger font size */
    text-transform: uppercase; /* Uppercase text */
}

/* Media Queries */
@media (max-width: 600px) {
    .container {
        max-width: 90%;
    }
    
    h1 {
        font-size: 28px; /* Adjusted font size for smaller screens */
    }
    
    input {
        font-size: 14px; /* Adjusted font size for smaller screens */
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 70%;
    }
    
    h1 {
        font-size: 36px; /* Adjusted font size for medium-sized screens */
    }
    
    input {
        font-size: 18px; /* Adjusted font size for medium-sized screens */
    }
}
