body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

form {
    text-align: left;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

input[disabled] {
    background-color: #f0f0f0;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-radius: 5px 5px 0 0;
}

@media (max-width: 600px) {
    .container {
        max-width: 90%;
    }
    
    h1 {
        font-size: 24px;
    }
    
    input {
        font-size: 12px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 70%;
    }
    
    h1 {
        font-size: 28px;
    }
    
    input {
        font-size: 16px;
    }
}
